{"openapi":"3.0.1","info":{"title":"G2.com","description":"Find the best software \u0026 services for your business needs","version":"v1"},"servers":[{"url":"https://www.g2.com/"}],"paths":{"/chat_gpt_plugin/products":{"get":{"operationId":"findProductByName","summary":"Search for a specific product","parameters":[{"in":"query","name":"name","schema":{"type":"string"},"required":true,"description":"String match against specific product's name or description"},{"in":"query","name":"keywords","schema":{"type":"string"},"required":false,"description":"Additional keywords to match against product name and description."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/product_list"}}}}}}},"/chat_gpt_plugin/reports":{"get":{"operationId":"findProductByType","summary":"Search for best products by type, based on G2 Report data","parameters":[{"in":"query","name":"software_type","schema":{"type":"string"},"required":true,"description":"String match against type or category of product"},{"in":"query","name":"keywords","schema":{"type":"string"},"required":false,"description":"Additional keywords to match against features, problems solved, or category info."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/report_list"}}}}}}}},"product":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"stars":{"type":"string"}}},"report":{"type":"object","properties":{"season":{"type":"string"},"year":{"type":"integer"},"category":{"type":"object"},"Leaders":{"type":"array","items":{"$ref":"#/components/product"}},"High Performers":{"type":"array","items":{"$ref":"#/components/product"}},"Contenders":{"type":"array","items":{"$ref":"#/components/product"}},"Niche":{"type":"array","items":{"$ref":"#/components/product"}}}},"report_list":{"properties":{"reports":{"type":"array","items":{"$ref":"#/components/report"},"description":"A list of Grid Report summaries."}}},"product_list":{"type":"object","properties":{"products":{"type":"array","items":{"$ref":"#/components/product"},"description":"The list of products."}}}}